*{
    margin: 0;
    padding: 0;
}
#affiche{
    width: 100%;
    height: 10vh;
    @include flex;
    margin-top: 40px;
    background-attachment:scroll ;
    background-color: #E8505B;
        div{
            width: 100%;
            height: 100%;
            @include flex;
                h2{
                    font-family: 'Roboto';
                    font-size: 1.6em;
                    color: whitesmoke;
                }
        }
}
#affiche-body{
    width: 100vw;
    height: 70vh;
    margin-top: 30px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
        .bloc-affiche{
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 11%;
            .img-affiche{
                width: 40%;
                height: 100%;
                margin-right: 20px;
                    .bloc-img{
                        width: 100%;
                        height: 60%;
                        border: 1px solid #0B0754;
                        border-radius: 10px;
                        margin-bottom: 10px;
                        @include flex;
                        align-items: flex-start;
                            div{
                                width: 55%;
                                height: 70%;
                                border-radius: 50%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                         border-radius: 50%;
                                         margin-top: 20px;
                                    }
                                    div{  
                                       width: 100%;
                                       height: 30%;
                                       @include flex;
                                       flex-direction: column;
                                       p{
                                            list-style: none;
                                            font-family: 'Roboto';
                                            text-decoration: none;
                                            font-size:1.3em;
                                            text-transform: uppercase;
                                            margin-bottom: 5px;
                                       }
                                       h3{
                                        font-family: 'Roboto';
                                        text-decoration: none;
                                        font-size:1.3em;
                                        
                                       }
                                    }
                            }
                    }
                    .link{
                        width:100% ;
                        height: 39%;
                        margin-top: 10px;
                        border: 1px solid #0B0754;
                        border-radius: 10px;
                            div{
                                width: 80%;
                                height: 10%;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 30px;
                                span{
                                    margin-right: 75px;
                                    

                                }
                                .fb{
                                    @include flex;
                                    margin-top: 5px;
                                    margin-bottom: 5px;
                                    width: 420px;
                                    height: 20px;
                                    justify-content: flex-start;
                                    
                                }
                               
                                a{
                                    list-style: none;
                                    font-family: 'Roboto';
                                    text-decoration: none;
                                        
                                }
                                
                                .tre{
                                    width: 100%;
                                    height: 2px;
                                    background-color: #0B0754;
                                    margin-right: 10px;
                                    margin-bottom: 20px;
                                    margin-top: 20px;
                                  
                                }
                               
                            }
                    }
            }
            .info-affiche{
                width: 60%;
                height: 101%;
                border: 1px solid #0B0754;
                border-radius: 10px;
                margin-top: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                    .pro-affiche{
                        width: 90%;
                        height: 90%;
                        margin-top: 40px;
                        h5{
                            font-size: 1.5em;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                                span.titre{
                                    margin-left: 100px;
                                    font-weight: 100px;
                                    color: #E8505B;
                                }
                        }
                        .des{
                            width: 94%;
                            height: 18%;
                            border: 1px solid black;
                            padding: 20px;
                            font-size: 1.2em;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 200;
                            margin-top: 5px;
                        }
                        p{
                            font-size: 1.2em;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 200;
                            margin-bottom: 5px;
                            margin-top: 10px;
                            
                        }
                        .tre{
                            width: 100%;
                            height: 2px;
                            background-color: #0B0754;
                            margin-right: 10px;
                            
                            margin-top: 10px;
                           
                          
                        }
                    }
                    .btn{
                        width: 70%;
                        height: 10%;
                        @include flex;
                        margin-bottom: 25px;
                            button{
                                margin-left: 50px;
                                width: 130px;
                                height: 50px;
                                margin-bottom: 15px;
                                background: transparent;
                                cursor: pointer;
                                transition: all 0.3s ease;
                                position: relative;
                                display: inline-block;
                                transition: all 0.3s ease;
                                border: 1px solid rgb(10, 10, 92);
                            }
                            .btn-2{
                                transition: all 0.3 ease;
                            }
                            .btn-2:hover{
                                box-shadow: 
                                -7px -7px 20px 0px #fff9,
                                -4px -4px 5px 0px #fff,
                                7px 7px 20px 0px #0002,
                                4px 4px 5px 0px #0001;
                            }
                    }
            }
        }
        
}