footer{
    width: 100%;
    height: 25vh;
    background-color:#0B0754 ;
    margin-top: 50px;
    @include flex;
    .footer{
        width: 80%;
        height: 80%;
        @include flex($just:space-between);
            .logo{
                width: 34%;
                height: 100%;
                @include flex;
                
                flex-direction: column;
                 img{
                     width: 350px;
                     height: 150px;
                 }
                 p{
                    font-family: 'Roboto';
                    font-size: 1.5em;
                    margin-left:30% ;
                    color: white;
                 }
            }
            .reseau{
                width:34% ;
                height: 55%;
                @include flex($just:space-between);
                flex-direction: column;
                    h3{
                        height: 50%;
                        font-family: 'Roboto';
                        font-size: 1.2em;
                        color: white;
                    }
                    .icon{
                        height: 50%;
                        @include flex($align:flex-start);
                         .icon2{
                                width: 70%;
                            }
                    }
                    
            }
    }  

}
@media screen and (max-width:1920px){
    footer{
        width: 100%;
        height: 30vh;
        background-color:#0B0754 ;
        margin-top: 50px;
        @include flex;
        .footer{
            width: 80%;
            height: 80%;
            @include flex($just:space-between);
                .logo{
                    width: 45%;
                    height: 50%;
                    @include flex;
                    margin-left: -7%;
                    
                    flex-direction: column;
                     img{
                         width: 250px;
                         height: 100px;
                     }
                     p{
                        font-family: 'Roboto';
                        font-size: 1.2em;
                        margin-left:5% ;
                        color: white;
                        margin-top: 3%;
                     }
                }
                .reseau{
                    width:34% ;
                    height: 55%;
                    @include flex($just:space-between);
                    flex-direction: column;
                    margin-bottom: 2%;
                        h3{
                            height: 50%;
                            font-family: 'Roboto';
                            font-size: 1.4em;
                            color: white;
                        }
                        .icon{
                            height: 50%;
                            @include flex($align:flex-start);
                             .icon2{
                                    width: 70%;
                                }
                        }
                        
                }
        }  
    
    }
}
@media screen and (max-width:1440px){
    footer{
        width: 100%;
        height: 25vh;
        background-color:#0B0754 ;
        margin-top: 50px;
        @include flex;
        .footer{
            width: 80%;
            height: 80%;
            @include flex($just:space-between);
                .logo{
                    width: 34%;
                    height: 100%;
                    @include flex;
                    
                    flex-direction: column;
                     img{
                         width: 250px;
                         height: 100px;
                     }
                     p{
                        font-family: 'Roboto';
                        font-size: 1.5em;
                        margin-left:30% ;
                        color: white;
                     }
                }
                .reseau{
                    width:34% ;
                    height: 55%;
                    @include flex($just:space-between);
                    flex-direction: column;
                        h3{
                            height: 50%;
                            font-family: 'Roboto';
                            font-size: 1.2em;
                            color: white;
                        }
                        .icon{
                            height: 50%;
                            @include flex($align:flex-start);
                             .icon2{
                                    width: 75%;
                                }
                        }
                        
                }
            }  
        }
    }
@media screen and (max-width:1080px){
        footer{
            width: 100%;
            height: 25vh;
            background-color:#0B0754 ;
            margin-top: 50px;
            @include flex;
            .footer{
                width: 80%;
                height: 80%;
                @include flex($just:space-between);
                    .logo{
                        width: 34%;
                        height: 100%;
                        @include flex;
                        
                        flex-direction: column;
                         img{
                             width: 200px;
                             height: 80px;
                         }
                         p{
                            font-family: 'Roboto';
                            font-size: 1.1em;
                            color: white;
                         }
                    }
                    .reseau{
                        width:34% ;
                        height: 55%;
                        @include flex($just:space-between);
                        flex-direction: column;
                            h3{
                                height: 50%;
                                font-family: 'Roboto';
                                font-size: 1.2em;
                                color: white;
                            }
                            .icon{
                                height: 50%;
                                @include flex($align:flex-start);
                                 .icon2{
                                        width: 75%;
                                    }
                            }
                            
                    }
                }  
            }
        }
           
@media screen and (max-width:768px){
    footer{
        width: 100%;
        height: 25vh;
        background-color:#0B0754 ;
        margin-top: 50px;
        @include flex;
        .footer{
            width: 80%;
            height: 80%;
            @include flex($just:space-between);
                .logo{
                    width: 45%;
                    height: 100%;
                    @include flex;
                    margin-left: -7%;
                    
                    flex-direction: column;
                     img{
                         width: 250px;
                         height: 100px;
                     }
                     p{
                        font-family: 'Roboto';
                        font-size: 1.5em;
                        margin-left:5% ;
                        color: white;
                        margin-top: 10%;
                     }
                }
                .reseau{
                    width:34% ;
                    height: 55%;
                    @include flex($just:space-between);
                    flex-direction: column;
                        h3{
                            height: 50%;
                            font-family: 'Roboto';
                            font-size: 1.5em;
                            color: white;
                        }
                        .icon{
                            height: 50%;
                            margin-top: 10%;
                            @include flex($align:flex-start);
                             .icon2{
                                    width: 100%;
                                }
                        }
                        
                }
        }  
    
    }
}
@media screen and (max-width:435px){
    footer{
        width: 100%;
        height: 30vh;
        background-color:#0B0754 ;
        @include flex;
        .footer{
            width: 80%;
            height: 50%;
            @include flex2($just:center,$dir:column,$align:space-around);
                .logo{
                    width: 70%;
                    height: 100%;
                    @include flex;
                     img{
                         width: 180px;
                         height: 70px;
                         margin-bottom: 10%;
                     }
                     p{
                        width: 60%;
                        font-family: 'Roboto';
                        font-size: 1em;
                        color: white;
                        margin-left: 16%;
                        
                     }
                }
                .reseau{
                    width:100% ;
                    height: 50%;
                    @include flex($just:space-between);
                    margin-top: 20px;
                    flex-direction: column;
                        h3{
                            height: 50%;
                            font-family: 'Roboto';
                            font-size: 1em;
                            color: white;
                        }
                        .icon{
                            height: 40%;
                            @include flex($align:flex-start);
                             .icon2{
                                    width: 45%;
                                }
                        }
                        
                }
        }  
    
    }
}
@media screen and (max-width:375px){
    footer{
        width: 100%;
        height: 35vh;
        background-color:#0B0754 ;
        @include flex;
        .footer{
            width: 80%;
            height: 65%;
            @include flex2($just:center,$dir:column,$align:space-around);
                .logo{
                    width: 54%;
                    height: 100%;
                    margin-top: -10%;
                    @include flex;
                     img{
                         width: 150px;
                         height: 60px;
                         margin-bottom: 10%;
                     }
                     p{
                         width: 100%;
                        font-family: 'Roboto';
                        font-size: 0.8em;
                        color: white;
                        margin-left: 50%;
                        
                     }
                }
                .reseau{
                    width:100% ;
                    height: 50%;
                    @include flex($just:space-between);
                    flex-direction: column;
                        h3{
                            height: 50%;
                            font-family: 'Roboto';
                            font-size: 0.75em;
                            color: white;
                        }
                        .icon{
                            height: 50%;
                            @include flex($align:flex-start);
                             .icon2{
                                    width: 50%;
                                }
                        }
                        
                }
        }  
    
    }
}
@media screen and (max-width:320px){
    footer{
        width: 100%;
        height: 35vh;
        background-color:#0B0754 ;
        @include flex;
        .footer{
            width: 80%;
            height: 65%;
            @include flex2($just:center,$dir:column,$align:space-around);
                .logo{
                    width: 54%;
                    height: 100%;
                    margin-top: -10%;
                    @include flex;
                     img{
                         width: 150px;
                         height: 60px;
                     }
                     p{
                         width: 100%;
                        font-family: 'Roboto';
                        font-size: 0.8em;
                        color: white;
                        margin-left: 38%;
                        
                     }
                }
                .reseau{
                    width:100% ;
                    height: 50%;
                    @include flex($just:space-between);
                    flex-direction: column;
                        h3{
                            height: 50%;
                            font-family: 'Roboto';
                            font-size: 0.75em;
                            color: white;
                        }
                        .icon{
                            height: 50%;
                            @include flex($align:flex-start);
                             .icon2{
                                    width: 50%;
                                }
                        }
                        
                }
        }  
    
    }
}
