footer{
    width: 100%;
    height: 25vh;
    background-color:#0B0754 ;
    margin-top: 50px;
    @include flex;
    .footer{
        width: 80%;
        height: 80%;
        @include flex($just:space-between);
            .logo{
                width: 34%;
                height: 100%;
                @include flex;
                
                flex-direction: column;
                 img{
                     width: 350px;
                     height: 150px;
                 }
                 p{
                    font-family: 'Roboto';
                    font-size: 1.5em;
                    margin-left:30% ;
                    color: white;
                 }
            }
            .reseau{
                width:34% ;
                height: 55%;
                @include flex($just:space-between);
                flex-direction: column;
                    h3{
                        height: 50%;
                        font-family: 'Roboto';
                        font-size: 1.2em;
                        color: white;
                    }
                    .icon{
                        height: 50%;
                        @include flex($align:flex-start);
                         .icon2{
                                width: 70%;
                            }
                    }
                    
            }
    }  

}