#home{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
        .home_contenu{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
                .bloc_titre{
                    width: 30%;
                    height: 50%;
                    margin-top: 10%;
                    .titre{
                        font-family: 'Roboto';
                        font-size: 2em;
                        color: #0B0754;
                        margin-top: 5px;
                    }
                    .text{
                        
                        width: 25vw;
                        margin-top: 50px;
                        color: #0B0754;
                        font-family: 'Roboto';
                        font-size: 1em;
                    }
                }
                .bloc_img{
                    width: 70%;
                    height: 70%;
                    margin-left: 5%;
                        .img_acc{
                            width: 100%;
                            height: 600px;
                        }
                }
        }

}
#home2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
        .home_contenu2{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
                .titre2{
                    width: 100%;
                    height: 10vh;
                    margin-top: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                        h3{
                            font-family: 'Roboto';
                            font-size: 2em;
                            color: #0B0754;
                        }
                }
                .contenu{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                        .img_2{
                            width: 60%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                                img{
                                    width: 70%;
                                }

                        }
                        .img_text{
                            width: 40%;
                            height: 60%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            p{
                                width: 500px;
                                font-family: 'Roboto';
                                font-size: 1.5em;
                                color: #0B0754;
                                text-align: right;
                            }
                            
                        }

                }
        }
}