#home{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
        .home_contenu{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
                .bloc_titre{
                    width: 35%;
                    height: 50%;
                    margin-top: 10%;
                    .titre{
                        font-family: 'Roboto';
                        font-size: 1em;
                        color: #0B0754;
                        margin-top: 5px;
                        width: 100%;
                    }
                    .text{
                        
                        width: 25vw;
                        margin-top: 50px;
                        color: #0B0754;
                        font-family: 'Roboto';
                        font-size: 1em;
                    }
                }
                .bloc_img{
                    width: 70%;
                    height: 70%;
                    margin-left: 5%;
                        .img_acc{
                            width: 100%;
                            height: 600px;
                        }
                }
        }

}
#home2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
        .home_contenu2{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
                .titre2{
                    width: 100%;
                    height: 10vh;
                    margin-top: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                        h3{
                            font-family: 'Roboto';
                            font-size: 2em;
                            color: #0B0754;
                        }
                }
                .contenu{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                        .img_2{
                            width: 60%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                                img{
                                    width: 70%;
                                }

                        }
                        .img_text{
                            width: 40%;
                            height: 60%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            p{
                                width: 500px;
                                font-family: 'Roboto';
                                font-size: 1.5em;
                                color: #0B0754;
                                text-align: right;
                            }
                            
                        }

                }
        }
}

 @media screen and(max-width: 2560px) {
    #home{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu{
                width: 80%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                    .bloc_titre{
                        width: 35%;
                        height: 70%;
                        
                        .titre{
                            font-family: 'Roboto';
                            font-size: 2em;
                            color: #0B0754;
                            margin-top: 10px;
                        }
                        .text{
                            
                            width: 26vw;
                            margin-top: 50px;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 1em;
                        }
                    }
                    .bloc_img{
                        width: 65%;
                        height: 70%;
                        margin-left: 5%;
                            .img_acc{
                                width: 95%;
                                height: 500px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        height: 10vh;
                        display: flex;
                        margin-top: -0.5%;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                            h3{
                                font-family: 'Roboto';
                                font-size: 2.5em;
                                color: #0B0754;
                            }
                    }
                    .contenu{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                            .img_2{
                                width: 60%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                    img{
                                        width: 70%;
                                        margin-left: 5%;
                                    }
    
                            }
                            .img_text{
                                width: 40%;
                                height: 60%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                p{
                                    width: 80%;
                                    font-family: 'Roboto';
                                    font-size: 1.5em;
                                    color: #0B0754;
                                    text-align: right;
                                }
                                
                            }
    
                    }
            }
    }
 }
 @media screen and(max-width: 1440px) {
    #home{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu{
                width: 90%;
                height: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                    .bloc_titre{
                        width: 40%;
                        height: 75%;
                        
                        .titre{
                            font-family: 'Roboto';
                            font-size: 2em;
                            color: #0B0754;
                            margin-top: 10px;
                        }
                        .text{
                            
                            width: 26vw;
                            margin-top: 50px;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 1em;
                        }
                    }
                    .bloc_img{
                        width: 65%;
                        height: 70%;
                        margin-left: 2%;
                            .img_acc{
                                width: 100%;
                                height: 450px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 90%;
                height: 75%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        height: 10vh;
                        display: flex;
                        margin-top: -0.5%;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                            h3{
                                font-family: 'Roboto';
                                font-size: 2.5em;
                                color: #0B0754;
                            }
                    }
                    .contenu{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                            .img_2{
                                width: 60%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                    img{
                                        width: 70%;
                                        margin-left: 5%;
                                    }
    
                            }
                            .img_text{
                                width: 40%;
                                height: 70%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                p{
                                    width: 90%;
                                    font-family: 'Roboto';
                                    font-size: 1.5em;
                                    color: #0B0754;
                                    text-align: right;
                                }
                                
                            }
    
                    }
            }
    }
 }
 @media screen and(max-width: 1080px) {
    #home{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                    .bloc_titre{
                        width: 40%;
                        height: 60%;
                        
                        .titre{
                            font-family: 'Roboto';
                            font-size: 1.5em;
                            color: #0B0754;
                            margin-top: 5px;
                        }
                        .text{
                            
                            width: 30vw;
                            margin-top: 50px;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 0.8em;
                        }
                    }
                    .bloc_img{
                        width: 65%;
                        height: 70%;
                        margin-left: 2%;
                            .img_acc{
                                width: 100%;
                                height: 380px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 100%;
                height: 75%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        height: 10vh;
                        display: flex;
                        margin-top: -10%;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                            h3{
                                font-family: 'Roboto';
                                font-size: 1.8em;
                                color: #0B0754;
                            }
                    }
                    .contenu{
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                            .img_2{
                                width: 60%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                    img{
                                        width: 85%;
                                        margin-left: 7%;
                                    }
    
                            }
                            .img_text{
                                width: 40%;
                                height: 70%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-start;
                                margin-right: 3%;
                                p{
                                    width: 100%;
                                    font-family: 'Roboto';
                                    font-size: 1.2em;
                                    color: #0B0754;
                                    text-align: right;
                                }
                                
                            }
    
                    }
            }
    }
 }
 @media screen and(max-width: 800px) {
    #home{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
            .home_contenu{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .bloc_titre{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .titre{
                            font-family: 'Roboto';
                            font-size: 1.5em;
                            color: #0B0754;
                            margin-top: 5px;
                            text-align: center;
                        }
                        .text{
                            
                            width: 90%;
                            margin-top: 20px;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 1em;
                            text-align: center;
                        }
                    }
                    .bloc_img{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                            .img_acc{
                                width: 80%;
                                height: 340px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: 100vh;
        margin-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 100%;
                height: 75%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                            h3{
                                font-family: 'Roboto';
                                font-size: 1.8em;
                                color: #0B0754;
                            }
                    }
                    .contenu{
                        width: 100%;
                        height: 85%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                            .img_2{
                                width: 70%;
                                margin-bottom: 5%;
                                margin-right: 13%;
                                margin-top: 5%;
                                    img{
                                        width: 100%;
                                    }
    
                            }
                            .img_text{
                                width: 70%;
                                height: 70%;

                                p{
                                    width: 100%;
                                    font-family: 'Roboto';
                                    font-size: 1.2em;
                                    color: #0B0754;
                                    text-align: center;

                                }
                                
                            }
    
                    }
            }
    }
 }
 @media screen and(max-width: 620px) {
    #home{
        width: 100%;
        height: 100vh;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
            .home_contenu{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .bloc_titre{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .titre{
                            font-family: 'Roboto';
                            font-size: 1.5em;
                            color: #0B0754;
                            margin-top: 5px;
                            text-align: center;
                        }
                        .text{
                            
                            width: 90%;
                            margin-top: 10%;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 1em;
                            text-align: center;
                            margin-bottom: 5%;
                        }
                    }
                    .bloc_img{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                            .img_acc{
                                width: 100%;
                                height: 300px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: 100vh;
        display: flex;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 100%;
                height: 75%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                            h3{
                                font-family: 'Roboto';
                                font-size: 1.8em;
                                color: #0B0754;
                            }
                    }
                    .contenu{
                        width: 100%;
                        height: 85%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                            .img_2{
                                width: 80%;
                                margin-bottom: 10%;
                                margin-right: 13%;
                                margin-top: 5%;
                                    img{
                                        width: 100%;
                                    }
    
                            }
                            .img_text{
                                width: 75%;
                                height: 70%;

                                p{
                                    width: 100%;
                                    font-family: 'Roboto';
                                    font-size: 1.2em;
                                    color: #0B0754;
                                    text-align: center;

                                }
                                
                            }
    
                    }
            }
    }
 }
 @media screen and(max-width: 425px) {
    #home{
        width: 100%;
        height: 80vh;
        margin-top: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
            .home_contenu{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .bloc_titre{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .titre{
                            font-family: 'Roboto';
                            font-size: 1.2em;
                            color: #0B0754;
                            margin-top: 5px;
                            text-align: center;
                        }
                        .text{
                            
                            width: 100%;
                            margin-top: 10%;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 0.75em;
                            text-align: center;
                            margin-bottom: 5%;
                        }
                    }
                    .bloc_img{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                            .img_acc{
                                width: 100%;
                                height: 220px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 100%;
                height: 75%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                            h3{
                                font-family: 'Roboto';
                                font-size: 1.25em;
                                color: #0B0754;
                            }
                    }
                    .contenu{
                        width: 100%;
                        height: 85%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                            .img_2{
                                width: 85%;
                                margin-bottom: 10%;
                                margin-right: 13%;
                                margin-top: -5%;
                                    img{
                                        width: 100%;
                                    }
                            }
                            .img_text{
                                width: 75%;
                                height: 70%;
                                p{
                                    width: 100%;
                                    font-family: 'Roboto';
                                    font-size: 0.8em;
                                    color: #0B0754;
                                    text-align: center;
                                }
                                
                            }
    
                    }
            }
    }
 }
 @media screen and(max-width: 375px) {
    #home{
        width: 100%;
        height: 80vh;
        margin-top: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
            .home_contenu{
                width: 90%;
                height: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .bloc_titre{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .titre{
                            font-family: 'Roboto';
                            font-size: 1.2em;
                            color: #0B0754;
                            margin-top: 5px;
                            text-align: center;
                        }
                        .text{
                            
                            width: 100%;
                            margin-top: 10%;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 0.65em;
                            text-align: center;
                            margin-bottom: 10%;
                        }
                    }
                    .bloc_img{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                            .img_acc{
                                width: 100%;
                                height: 200px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                            h3{
                                font-family: 'Roboto';
                                font-size: 1.25em;
                                color: #0B0754;
                            }
                    }
                    .contenu{
                        width: 100%;
                        height: 85%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                            .img_2{
                                width: 85%;
                                margin-bottom: 10%;
                                margin-right: 13%;
                                margin-top: -8%;
                                    img{
                                        width: 100%;
                                    }
                            }
                            .img_text{
                                width: 85%;
                                height: 70%;
                                p{
                                    width: 100%;
                                    font-family: 'Roboto';
                                    font-size: 0.85em;
                                    color: #0B0754;
                                    text-align: center;
                                }
                                
                            }
    
                    }
            }
    }
 }
 @media screen and(max-width: 320px) {
    #home{
        width: 100%;
        height: 80vh;
        margin-top: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
            .home_contenu{
                width: 90%;
                height: 70vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                    .bloc_titre{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .titre{
                            font-family: 'Roboto';
                            font-size: 1.1em;
                            color: #0B0754;
                            margin-top: 5px;
                            text-align: center;
                        }
                        .text{
                            
                            width: 100%;
                            margin-top: 10%;
                            color: #0B0754;
                            font-family: 'Roboto';
                            font-size: 0.55em;
                            text-align: center;
                            margin-bottom: 5%;
                        }
                    }
                    .bloc_img{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        justify-content: center;
                            .img_acc{
                                width: 100%;
                                height: 180px;
                            }
                    }
            }
    
    }
    #home2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
            .home_contenu2{
                width: 100%;
                height: 75vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                    .titre2{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                            h3{
                                font-family: 'Roboto';
                                font-size: 1em;
                                color: #0B0754;
                                width: 100%;
                                text-align: center;
                            }
                    }
                    .contenu{
                        width: 100%;
                        height: 75%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                            .img_2{
                                width: 95%;
                                margin-bottom: 10%;
                                margin-right: 13%;
                                    img{
                                        width: 100%;
                                    }
                            }
                            .img_text{
                                width: 85%;
                                height: 70%;
                                margin-top: 5%;
                                p{
                                    width: 100%;
                                    font-family: 'Roboto';
                                    font-size: 0.85em;
                                    color: #0B0754;
                                    text-align: center;
                                }
                                
                            }
    
                    }
            }
    }
 }



