#profil{
    width:100% ;
    height: 70vh;
 
    display: flex;
    justify-content: center;
    align-items: center;

        .bloc-profil{
            width: 50%;
            height: 60vh;
            display: flex;
            justify-content: space-around;
            align-items: center; 
            flex-direction: row;  
                .image-perso{
                    width: 20vw;
                    height: 50vh;
                    border: solid 1px rgb(53, 50, 50) ;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    

                     .blog-pserso{
                         width: 25vh;
                         height: 25vh;
                         margin-right: 35px;
                         border-radius: 50%;
                     
                         
                     }
                     .btn-2{
                         width: 130px;
                         height: 35px;
                        margin-top: 50px;
                     }
                }
                .datauser{
                    width: 100%;
                    height: 50vh;
                    border: solid 1px rgb(2, 0, 0) ;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .datauser2{
                        margin-top: 5%;
                        margin-left: 50px;
                        
                        .tre{
                            width: 380px;
                            height: 0.1vh;
                            background-color: black;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }
                        p{
                            font-family: 'Roboto';
                            font-size: 1.5em;
                        }
                        .bloc-btn{
                            margin-top: 30px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-content: flex-start;
                                .btn-2{
                                    width: 110px;
                                    height: 35px;
                                    margin-left: 10px;
                                    border: 1px solid rgb(11 , 7, 84) ;
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 300;
                                    background: transparent;
                                    cursor: pointer;
                                    transition: all 0.3s ease;
                                    position: relative;
                                    display: inline-block;
                                }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                        
                            
                        }
                    }
                }
        }
        




}