#profil{
    width:100% ;
    height: 70vh;
 
    display: flex;
    justify-content: center;
    align-items: center;

        .bloc-profil{
            width: 50%;
            height: 60vh;
            display: flex;
            justify-content: space-around;
            align-items: center; 
            flex-direction: row;  
                .image-perso{
                    width: 20vw;
                    height: 50vh;
                    border: solid 1px rgb(53, 50, 50) ;
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    

                     .blog-pserso{
                         width: 25vh;
                         height: 25vh;
                         margin-right: 35px;
                         border-radius: 50%;
                     
                         
                     }
                     .btn-2{
                         width: 130px;
                         height: 35px;
                        margin-top: 50px;
                     }
                }
                .datauser{
                    width: 100%;
                    height: 50vh;
                    border: solid 1px rgb(2, 0, 0) ;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .datauser2{
                        margin-top: 5%;
                        margin-left: 50px;
                        
                        .tre{
                            width: 380px;
                            height: 0.1vh;
                            background-color: black;
                            margin-bottom: 10px;
                            margin-top: 10px;
                        }
                        p{
                            font-family: 'Roboto';
                            font-size: 1.5em;
                        }
                        .bloc-btn{
                            margin-top: 30px;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-content: flex-start;
                                .btn-2{
                                    width: 110px;
                                    height: 35px;
                                    margin-left: 10px;
                                    border: 1px solid rgb(11 , 7, 84) ;
                                    font-family: 'Roboto', sans-serif;
                                    font-weight: 300;
                                    background: transparent;
                                    cursor: pointer;
                                    transition: all 0.3s ease;
                                }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                        
                            
                        }
                    }
                }
        }
        




}
@media screen and(max-width:1920px) {
    #profil{
        width:100% ;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
            .bloc-profil{
                width: 65%;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center; 
                    .image-perso{
                        width: 450px;
                        height: 60vh;
                        border: solid 1px rgb(53, 50, 50) ;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                         .blog-pserso{
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;
                             display: flex;
                            justify-content: center;
                            align-items: center; 
                                img{
                                    width: 250px;
                                    height: 250px;
                                    margin-left: 40px;
                                }
                             
                         }
                    }
                    .datauser{
                        width: 50%;
                        height: 60vh;
                        border: solid 1px rgb(2, 0, 0) ;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .datauser2{
                            margin-top: 5%;
                            width: 100%;
                            height:  80%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            .infouser{
                                width: 100%;
                                height: auto;
                                margin-bottom: 10px;
                                .tre{
                                    width: 500px;
                                    height: 0.1vh;
                                    background-color: black;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-size: 1.5em;
                                }
                            }   
                            .bloc-btn{
                                margin-top: -5px;
                                width: 100%;
                                margin-left: -8%;
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                flex-direction: column;
                                
                                .btn-div{
                                    width: 50%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    margin-bottom: 20px;
                                    margin-top: 10px;
                                    .btn-2{
                                        width: 200px;
                                        height: 33px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 1em;
                                    }
                                        .btn-1 {
                                            transition: all 0.3s ease;
                                        }
                                        .btn-1:hover {
                                            box-shadow:
                                            -7px -7px 20px 0px #fff9,
                                            -4px -4px 5px 0px #fff9,
                                            7px 7px 20px 0px #0002,
                                            4px 4px 5px 0px #0001;
                                        }
                                }
                                .btn-div2{
                                    width: 65%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    .btn-2{
                                        width: 200px;
                                        height: 33px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 1em;
                                    }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                }
                                            
                                
                            }
                        }
                    }
            }
            
    
    
    
    
    }
}
@media screen and(max-width:1440px) {
    #profil{
        width:100% ;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
            .bloc-profil{
                width: 50%;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center; 
                    .image-perso{
                        width: 300px;
                        height: 60vh;
                        border: solid 1px rgb(53, 50, 50) ;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                         .blog-pserso{
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;
                             display: flex;
                            justify-content: center;
                            align-items: center; 
                                img{
                                    width: 200px;
                                    height: 200px;
                                    margin-left: 35px;
                                }
                             
                         }
                    }
                    .datauser{
                        width: 85%;
                        height: 60vh;
                        border: solid 1px rgb(2, 0, 0) ;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .datauser2{
                            margin-top: 5%;
                            width: 100%;
                            height:  80%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            .infouser{
                                width: 100%;
                                height: auto;
                                margin-bottom: 10px;
                                .tre{
                                    width: 350px;
                                    height: 0.1vh;
                                    background-color: black;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-size: 1.3em;
                                }
                            }   
                            .bloc-btn{
                                margin-top: -5px;
                                width: 100%;
                                margin-left: -8%;
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                flex-direction: column;
                                
                                .btn-div{
                                    width: 50%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                    .btn-2{
                                        width: 150px;
                                        height: 30px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.9em;
                                    }
                                        .btn-1 {
                                            transition: all 0.3s ease;
                                        }
                                        .btn-1:hover {
                                            box-shadow:
                                            -7px -7px 20px 0px #fff9,
                                            -4px -4px 5px 0px #fff9,
                                            7px 7px 20px 0px #0002,
                                            4px 4px 5px 0px #0001;
                                        }
                                }
                                .btn-div2{
                                    width: 65%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    .btn-2{
                                        width: 150px;
                                        height: 30px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.9em;
                                    }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                }
                                            
                                
                            }
                        }
                    }
            }
            
    
    
    
    
    }
}
@media screen and(max-width:1080px) {
    #profil{
        width:100% ;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
            .bloc-profil{
                width: 55%;
                height: 70vh;
                display: flex;
                justify-content: center;
                align-items: center; 
                    .image-perso{
                        width: 280px;
                        height: 50vh;
                        border: solid 1px rgb(53, 50, 50) ;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                         .blog-pserso{
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;
                             display: flex;
                            justify-content: center;
                            align-items: center; 
                                img{
                                    width: 180px;
                                    height: 180px;
                                    margin-left: 35px;
                                }
                             
                         }
                    }
                    .datauser{
                        width: 85%;
                        height: 50vh;
                        border: solid 1px rgb(2, 0, 0) ;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .datauser2{
                            margin-top: 5%;
                            width: 100%;
                            height:  80%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            .infouser{
                                margin-bottom: 10px;
                                margin-right: 50px;
                                .tre{
                                    width: 350px;
                                    height: 0.1vh;
                                    background-color: black;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-size: 1.3em;
                                }
                            }   
                            
                            .bloc-btn{
                                margin-top: -5px;
                                width: 100%;
                                margin-left: -5%;
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                flex-direction: column;
                                
                                .btn-div{
                                    width: 50%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                    .btn-2{
                                        width: 100px;
                                        height: 25px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.7em;
                                    }
                                        .btn-1 {
                                            transition: all 0.3s ease;
                                        }
                                        .btn-1:hover {
                                            box-shadow:
                                            -7px -7px 20px 0px #fff9,
                                            -4px -4px 5px 0px #fff9,
                                            7px 7px 20px 0px #0002,
                                            4px 4px 5px 0px #0001;
                                        }
                                }
                                .btn-div2{
                                    width: 75%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    .btn-2{
                                        width: 100px;
                                        height: 25px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.7em;
                                    }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                }
                                    
                                
                                    
                                            
                                
                            }
                        }
                    }
            }
            
    
    
    
    
    }
}
@media screen and(max-width:768px) {
    #profil{
        width:100% ;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
            .bloc-profil{
                width: 65%;
                height: 70vh;
                display: flex;
                justify-content: center;
                align-items: center; 
                    .image-perso{
                        width: 280px;
                        height: 50vh;
                        border: solid 1px rgb(53, 50, 50) ;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                         .blog-pserso{
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;
                             display: flex;
                            justify-content: center;
                            align-items: center; 
                                img{
                                    width: 180px;
                                    height: 180px;
                                    margin-left: 35px;
                                }
                             
                         }
                    }
                    .datauser{
                        width: 85%;
                        height: 50vh;
                        border: solid 1px rgb(2, 0, 0) ;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .datauser2{
                            margin-top: 5%;
                            width: 100%;
                            height:  80%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            .infouser{
                                width: 100%;
                                height: 90%;
                                margin-left: -5%;
                                .tre{
                                    width: 300px;
                                    height: 1px;
                                    background-color: black;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-size: 1.2em;
                                }
                            }
                           
                            .bloc-btn{
                                margin-top: 30px;
                                width: 100%;
                                margin-left: -7%;
                                height: 20%;
                                display: flex;
                                justify-content: space-between;
                                align-content: center;
                                flex-direction: column;
                                .btn-div{
                                    width: 50%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    margin-bottom: 10px;
                                    .btn-2{
                                        width: 100px;
                                        height: 25px;
                                        margin-left: 20px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.7em;
                                    }
                                        .btn-1 {
                                            transition: all 0.3s ease;
                                        }
                                        .btn-1:hover {
                                            box-shadow:
                                            -7px -7px 20px 0px #fff9,
                                            -4px -4px 5px 0px #fff9,
                                            7px 7px 20px 0px #0002,
                                            4px 4px 5px 0px #0001;
                                        }
                                }
                                .btn-div2{
                                    width: 65%;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    .btn-2{
                                        width: 100px;
                                        height: 25px;
                                        margin-left: 20px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.7em;
                                    }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                }
                                    
                                
                                    
                                            
                                
                            }
                        }
                    }
            }
            
    
    
    
    
    }
}
@media screen and(max-width:425px) {
    #profil{
        width:100% ;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
            .bloc-profil{
                margin-top: 20%;
                width: 65%;
                height: 100vh;
                display: flex;
                justify-content: space-around;
                align-items: center; 
                flex-direction: column;
                    .image-perso{
                        width: 70vw;
                        height: 30vh;
                        border: solid 1px rgb(53, 50, 50) ;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                         .blog-pserso{
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center; 
                                img{
                                    width: 150px;
                                    height: 150px;
                                    margin-left: 35px;
                                }
                             
                         }
                    }
                    .datauser{
                        width: 70vw;
                        height: 60vh;
                        border: solid 1px rgb(2, 0, 0) ;
                        display: flex;
                        justify-content: center;
                        margin-top: 5%;
                        align-items: center;
                        .datauser2{
                            margin-top: 5%;
                            width: 100%;
                            height:  80%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            .infouser{
                                width: 100%;
                                height: 90%;
                                margin-left: -2%;
                                .tre{
                                    width: 260px;
                                    height: 1px;
                                    background-color: black;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-size: 1em;
                                }
                            }
                           
                            .bloc-btn{
                                margin-top: 30px;
                                width: 100%;
                                margin-left: -12%;
                                height: 20%;
                                display: flex;
                                justify-content: space-between;
                                align-content: center;
                                flex-direction: column;
                                .btn-div{
                                    width: 100%;
                                    height: 50%;
                                    margin-left: -10%;
                                    margin-bottom: 20px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-content: center;
                                        .btn-2{
                                        width: 80px;
                                        height: 25px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.7em;
                                    }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                    
                                    
                                }
                                .btn-div2{
                                    width: 95%;
                                    height: 50%;
                                    margin-bottom: 10px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-content: center;
                                    margin-left: 0px;
                                    form{
                                        width: auto;
                                        height: auto;
                                        .btn-2{
                                            width: 80px;
                                            height: 25px;
                                            margin-left: 18px;
                                            border: 1px solid rgb(11 , 7, 84) ;
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 300;
                                            background: transparent;
                                            cursor: pointer;
                                            transition: all 0.3s ease;
                                            font-size: 0.7em;
                                             }
                                            .btn-1 {
                                                transition: all 0.3s ease;
                                            }
                                            .btn-1:hover {
                                                box-shadow:
                                                -7px -7px 20px 0px #fff9,
                                                -4px -4px 5px 0px #fff9,
                                                7px 7px 20px 0px #0002,
                                                4px 4px 5px 0px #0001;
                                            }
                                    }    
                                  
                                    
                                    
                                }
                                   
                                
                                    
                                            
                                
                            }
                        }
                    }
            }
            
    
    
    
    
    }
}
@media screen and(max-width:375px) {
    #profil{
        width:100% ;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
            .bloc-profil{
                margin-top: 20%;
                width: 65%;
                height: 100vh;
                display: flex;
                justify-content: space-around;
                align-items: center; 
                flex-direction: column;
                    .image-perso{
                        width: 70vw;
                        height: 30vh;
                        border: solid 1px rgb(53, 50, 50) ;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                         .blog-pserso{
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center; 
                                img{
                                    width: 150px;
                                    height: 150px;
                                    margin-left: 35px;
                                }
                             
                         }
                    }
                    .datauser{
                        width: 70vw;
                        height: 60vh;
                        border: solid 1px rgb(2, 0, 0) ;
                        display: flex;
                        justify-content: center;
                        margin-top: 5%;
                        align-items: center;
                        .datauser2{
                            margin-top: 5%;
                            width: 85%;
                            height:  80%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            .infouser{
                                width: 100%;
                                height: 90%;
                                margin-left: -10%;
                                .tre{
                                    width: 210px;
                                    height: 1px;
                                    background-color: black;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-size: 0.85em;
                                }
                            }
                           
                            .bloc-btn{
                                margin-top: 30px;
                                width: 100%;
                                margin-left: -14%;
                                height: 20%;
                                display: flex;
                                justify-content: space-between;
                                align-content: center;
                                flex-direction: column;
                                .btn-div{
                                    width: 100%;
                                    height: 50%;
                                    margin-left: -10%;
                                    margin-bottom: 20px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-content: center;
                                        .btn-2{
                                        width: 80px;
                                        height: 25px;
                                        margin-left: 50px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.7em;
                                    }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                    
                                    
                                }
                                .btn-div2{
                                    width: 100%;
                                    height: 50%;
                                    margin-bottom: 10px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    form{
                                        width: auto;
                                        height: auto;
                                        margin-left: 9px;
                                        .btn-2{
                                            width: 80px;
                                            height: 25px;
                                            margin-left: 0px;
                                            border: 1px solid rgb(11 , 7, 84) ;
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 300;
                                            background: transparent;
                                            cursor: pointer;
                                            transition: all 0.3s ease;
                                            font-size: 0.7em;
                                             }
                                            .bt{
                                                width: 80px;
                                                height: 25px;
                                                margin-left: -2%;
                                                border: 1px solid rgb(11 , 7, 84) ;
                                                font-family: 'Roboto', sans-serif;
                                                font-weight: 300;
                                                background: transparent;
                                                cursor: pointer;
                                                transition: all 0.3s ease;
                                                font-size: 0.7em;
                                            } 
                                            .btn-1 {
                                                transition: all 0.3s ease;
                                            }
                                            .btn-1:hover {
                                                box-shadow:
                                                -7px -7px 20px 0px #fff9,
                                                -4px -4px 5px 0px #fff9,
                                                7px 7px 20px 0px #0002,
                                                4px 4px 5px 0px #0001;
                                            }
                                    }    
                                  
                                    
                                    
                                }
                                   
                                
                                    
                                            
                                
                            }
                        }
                    }
            }
            
    
    
    
    
    }
}
@media screen and(max-width:320px) {
    #profil{
        width:100% ;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
            .bloc-profil{
                margin-top: 20%;
                width: 65%;
                height: 100vh;
                display: flex;
                justify-content: space-around;
                align-items: center; 
                flex-direction: column;
                    .image-perso{
                        width: 70vw;
                        height: 30vh;
                        border: solid 1px rgb(53, 50, 50) ;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        margin-bottom: 30%;
                         .blog-pserso{
                             width: 100%;
                             height: 100%;
                             border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center; 
                                img{
                                    width: 150px;
                                    height: 150px;
                                    margin-left: 35px;
                                }
                             
                         }
                    }
                    .datauser{
                        width: 70vw;
                        height: 60vh;
                        border: solid 1px rgb(2, 0, 0) ;
                        display: flex;
                        justify-content: center;
                        // margin-top: -40%;
                        align-items: center;
                        .datauser2{
                            margin-top: 5%;
                            width: 85%;
                            height:  80%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            .infouser{
                                width: 100%;
                                height: 90%;
                                margin-left: -10%;
                                .tre{
                                    width: 180px;
                                    height: 1px;
                                    background-color: black;
                                    margin-bottom: 10px;
                                    margin-top: 10px;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-size: 0.8em;
                                }
                            }
                           
                            .bloc-btn{
                                margin-top: -2%;
                                width: 100%;
                                margin-left: -15%;
                                height: 20%;
                                display: flex;
                                justify-content: space-between;
                                align-content: center;
                                flex-direction: column;
                                .btn-div{
                                    width: 70%;
                                    height: 50%;
                                    margin-left: 12%;
                                    margin-bottom: 20px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-content: center;
                                        .btn-2{
                                        width: 80px;
                                        height: 25px;
                                        margin-left: 18px;
                                        border: 1px solid rgb(11 , 7, 84) ;
                                        font-family: 'Roboto', sans-serif;
                                        font-weight: 300;
                                        background: transparent;
                                        cursor: pointer;
                                        transition: all 0.3s ease;
                                        font-size: 0.7em;
                                    }
                                    .btn-1 {
                                        transition: all 0.3s ease;
                                    }
                                    .btn-1:hover {
                                        box-shadow:
                                        -7px -7px 20px 0px #fff9,
                                        -4px -4px 5px 0px #fff9,
                                        7px 7px 20px 0px #0002,
                                        4px 4px 5px 0px #0001;
                                    }
                                    
                                    
                                }
                                .btn-div2{
                                    width: 100%;
                                    height: 50%;
                                    margin-bottom: 10px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-content: center;
                                    form{
                                        width: auto;
                                        height: auto;
                                        margin-left: 9px;
                                        .btn-2{
                                            width: 80px;
                                            height: 25px;
                                            margin-left: 0px;
                                            border: 1px solid rgb(11 , 7, 84) ;
                                            font-family: 'Roboto', sans-serif;
                                            font-weight: 300;
                                            background: transparent;
                                            cursor: pointer;
                                            transition: all 0.3s ease;
                                            font-size: 0.7em;
                                             }
                                            .bt{
                                                width: 80px;
                                                height: 25px;
                                                margin-left: -2%;
                                                border: 1px solid rgb(11 , 7, 84) ;
                                                font-family: 'Roboto', sans-serif;
                                                font-weight: 300;
                                                background: transparent;
                                                cursor: pointer;
                                                transition: all 0.3s ease;
                                                font-size: 0.7em;
                                            } 
                                            .btn-1 {
                                                transition: all 0.3s ease;
                                            }
                                            .btn-1:hover {
                                                box-shadow:
                                                -7px -7px 20px 0px #fff9,
                                                -4px -4px 5px 0px #fff9,
                                                7px 7px 20px 0px #0002,
                                                4px 4px 5px 0px #0001;
                                            }
                                    }    
                                  
                                    
                                    
                                }
                                   
                                
                                    
                                            
                                
                            }
                        }
                    }
            }
            
    
    
    
    
    }
}