@import 'main';
@import "mediaquery";
@import 'header';
@import 'login';
@import 'profil';
@import 'profilpro';
@import 'affichepro';
@import 'homepage';
@import 'footer';
@import 'form';
@import "_mediaquery";


a{
    list-style: none;
    font-family: 'Roboto';
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');