<footer>
    <div class="footer">
        <div class="logo">
            <img src="{{asset('image/logo.png')}}" alt="">
            <p>Copyrighte by mili</p>
        </div>
        <div class="reseau">
            <h3>Nos Reasaux</h3>
            <div class="icon">
                <img class="icon2" src="{{asset('image/icon.png')}}" alt="">
            </div>
        </div>
    </div>
</footer>